<div class="col-12">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" value="{{first_name}}" placeholder="First Name" name="first_name">
    <label for="">First Name</label>
  </div>
</div>
<div class="col-12">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" value="{{this.last_name}}" placeholder="Last Name" name="last_name">
    <label for="">Last Name</label>
  </div>
</div>

<div class="col-12">
  <div class="form-floating mb-3">
    <input type="email" class="form-control" placeholder="Email" name="email" value="{{this.email}}">
    <label for="">Email</label>
  </div>
</div>
<div class="col-12">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" placeholder="Phone" name="phone" value="{{this.phone}}">
    <label for="">Phone</label>
  </div>
</div>
<div class="col-12">
  <div class="form-floating mb-3">
    <textarea name="comments" id="" cols="30" rows="10" class="form-control">{{this.comments}}</textarea>
    <label for="">Comments</label>
  </div>
</div>
<div class="col-12 d-grid">
  <button class="btn btn-primary" type="submit">Submit</button>
</div>